streamlit
pytorch==2.8.0+cu128 --index-url https://download.pytorch.org/whl/cu128
transformers
accelerate
langchain
langchain_community
langchain_core
bitsandbytes
sentence-transformers
faiss-cpu
sentencepiece